/* You can add global styles to this file, and also import other style files */

body {
	margin: 0px;
	background: #f3f3f3 !important;
	font-family: sans-serif;
}
.float-right {
	float: right;
}

.white {
	color: #ffff;
}

.p-t-30 {
	padding-top: 30px;
}

.p-r-15 {
	padding-right: 15px;
}
.p-r-5 {
	padding-right: 5px;
}
.p-t-5 {
	padding-top: 5px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-b-15 {
	padding-bottom: 15px;
}

.p-l-10 {
	padding-left: 10px;
}

.pointer {
	cursor: pointer;
}

.button-padding {
	padding: 10px 30px 10px 30px !important;
}

.button {
	border: 1px solid rgba(119, 119, 120, 0.6);
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	color: #777778;
	display: inline-flex;
	cursor: pointer;
}

.text {
	color: #70a5c1;
	font-weight: bold;
}

label {
	color: #404040;
}

.button-success {
	background: #00a652;
	color: #fff;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	cursor: pointer;
}
.button-cancel {
	background: #dfdfdf;
	border: 1px solid #ccc;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	cursor: pointer;
}

.m-r-10 {
	margin-right: 10px;
}

.superscript {
	font-size: 13px;
}
.custom-wdith {
	width: 200px;
}

.sub-header {
	font-size: 20px;
	color: #404040;
}
