<div class='heading'>
    <h3 style="    text-align: center;
    margin-top: 30px;margin-bottom: 50px;">View Customer details </h3>
  </div>

<table id="customers" style="padding-top: 30px">
  <tr>
    <th>Customer</th>
    <th>Order Date</th>
    <th>Order Details</th>
    <th>Order Amount</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>23/04/1990</td>
    <td>rock</td>
     <td>4000</td>
  </tr>
   <tr>
    <td>Futterkiste</td>
    <td>23/04/1990</td>
    <td>rock</td>
     <td>4000</td>
  </tr>
 <tr>
    <td>Alfreds </td>
    <td>23/04/1990</td>
    <td>rock</td>
     <td>4000</td>
  </tr>
 <tr>
    <td>Alfreds Futterkiste</td>
    <td>23/04/1990</td>
    <td>rock</td>
     <td>4000</td>
  </tr>
 <tr>
    <td>Alfreds Futterkiste</td>
    <td>23/04/1990</td>
    <td>rock</td>
     <td>4000</td>
  </tr>

  
</table>