<app-header></app-header>

<div class='heading'>
<a class='p-r-5 pointer' (click) = 'back()'><Strong><h3>Back</h3></Strong></a>
    <h3 style="text-align: center;
    margin-top: 30px;margin-bottom: 50px;">View Customer details </h3>
  </div>

<table id="customers" style="padding-top: 30px">
  <tr>
    <th>Customer</th>
    <th>Order Date</th>
    <th>Order Details</th>
    <th>Order Amount</th>
  </tr>
  <tr *ngFor="let item of response">
   <td>{{item.customer.customerName}}</td>
   <td>{{item.orderDate}}</td>
   <td>{{item.orderDetail}}</td>
   <td>{{item.orderAmount}}</td>
 </tr>
 

  
</table>